
  <ng-template #modals>
    <div class="modal-header">
      <h5 class="modal-title">{{ modalConfig?.modalTitle }}</h5>
      <button *ngIf="modalConfig?.showButtonClose" type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">

    </div>
  </ng-template>

